<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

                    <style>
                        body{
                            background-color: black;
                            color: white;
                        }
                    </style>

    <title>Document</title>
</head>
<body>
    
        <h1 style="margin-left: 670px;">This is the spotify voter landing page</h1>
        <h1 style="margin-top: 300px; margin-left: 730px;">Ready to listen and vote?</h1>
        <a href="{% url 'random_track' %}"><button style="margin-top: 100px; margin-left: 820px; width: 200px; height: 30px;">Click here to start</button></a>
        
</body>



</html>